<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="./vue.js"></script>
  <title>Document</title>

  <style>

  </style>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="(curso, key) in cursos" v-text="key + ' - ' + curso"> </li>
    </ul>
    <hr>
    <table border="1">
      <thead>
        <tr>
          <th>Id</th>
          <th>Titulo</th>
          <th>Descricao</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="curso, chave in cursos2">
          <td>
            {{chave}}
          </td>
          <td>{{curso.titulo}}</td>
          <td>{{curso.descricao}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        cursos: ['Laravel', 'Web', 'Dotnet', 'Solid', 'CQRS'],
        cursos2: {
          1000: {
            titulo: 'Laravel',
            descricao: 'Descricao Laravel'
          },
          1001: {
            titulo: 'Dotnet',
            descricao: 'Descricao Dotnet'
          },
        },

      },
      methods: {

      },
    });
  </script>
</body>

</html>